


body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: no-repeat 5% url("pexels-gradienta-7130555.jpg");
    margin : 0px;
    
    
    

}

div.cadre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(213,225,239,255);
    width: 1000px;
    
    height: auto;
    box-shadow: 0px 15px 20px rgb(202, 201, 201);
    margin: 100px 20px 100px 20px;
}

div.panneau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 220px;
    height: auto;
    margin: 100px 0px;
    border-radius: 15px;
}

img.img-qr {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

p1{
    color: rgb(16, 7, 46);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 15px;
    font-family: 'Outfit', sans-serif;
}

p2{
    text-align: center;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.774);
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Outfit', sans-serif;

}





div.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/*Responsive design*/

@media only screen and (max-width: 767px) {

    div.cadre {
        
        width: 100%;
        margin : 0;
        margin-bottom: 50px;
        
    }

    div.panneau {
        
        width: 320px;
        height: auto;
        margin: 100px 0px;
        
    }

    img.img-qr {
        width: 290px;
        height: 290px;
        margin: 15px;

    }

    p1{
        font-size: 20px;
        margin: 10px 25px;
    }
    
    p2{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 40px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
    